# --- Python & Ambiente ---
__pycache__/
*.py[cod]
*$py.class
.venv/
uv.lock

# --- IDE (PyCharm) ---
.idea/
.vscode/
*.swp

# --- Docker & Segredos ---
# NUNCA suba o .env, ele contém suas credenciais!
.env
.docker/
script/

# --- Airflow ---
# Logs crescem muito rápido e não devem ir para o Git
logs/
airflow.db
airflow.cfg
webserver_config.py

# --- Dados & Saídas ---
# Mantém a pasta no Git mas ignora todos os arquivos de dados
data/*
!data/.gitkeep

# --- Temporários e Sistema ---
context.txt
Thumbs.db
.DS_Store

# --- Build ---
build/
dist/
*.egg-info/